#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  height: 100%;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.read-the-docs {
  color: #888;
}

.form-box {
  /* background-color: white; */
  display: flex;
  height: 50vh;
  width: 50vh;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  opacity: 0.9;
  border-radius: 5%;
  box-shadow: 10px 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.moving-button {
  z-index: 999;
  background-color: white;
  color: lightcoral;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative; /* Required for transform to work relative to its position */
  transition: transform 0.3s ease-in-out; /* Smooth transition over 0.3s */
}

.moving-button:hover {
  transform: translateY(-5px); /* Moves the button 5px up on hover */
  /* You can also add other effects like a shadow for depth */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

